.body-first{
    margin-top: 100px;
    margin-bottom: 100px;
}
.head-tag{
    font-family: BigShoulders-Regular;
    text-align: center;
    font-size: 48px;
    margin-bottom: 100px
}
.SecondImageContainer{
    background-image: url(../img/taniyaq.png);
    height: 640px;
    width: 555px;
    overflow: hidden
}
.play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    background-color: #fff;
}
.play a{
    font-size: 16px;
    color: #1A1A1A;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.line{
    width: 66px;
    height: 3px;
    border: 1px solid #1A1A1A;
    background-color: #1A1A1A;
    margin-left: 40px
}
.EvenLine{
    width: 66px;
    height: 3px;
    border: 1px solid #1A1A1A;
    background-color: #1A1A1A;
}
.BodyHeadContent{
    color: #1A1A1A;
    font-family: BigShoulders-Regular;
    font-size: 48px;
    padding-left: 40px;
    
}
.EvenBodyHeadContent{
    color: #1A1A1A;
    font-family: BigShoulders-Regular;
    font-size: 48px;
}
.header div{
    width: 456px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    font-size: 13px;
    padding-bottom: 40px
}
.body-text{
    font-family: BigShoulders-Regular;
    font-size: 14px;
    margin-top: 20px
}
.body-cont{
    padding-left: 150px;
    margin-top: 90px
}
.body-cont span{
    font-family: Oswald-Light;
    padding-left: 40px
}
.EvenBodyCont{
    margin-top: 100px;
}
.even-cont{
   padding-left: 80px
}
.main-content{
    margin-top: 80px;
}
.img-container{
    background-image: url(../img/PoladHashimov.png);
    height: 680px;
    width: 580px;
    overflow: hidden;
    background-size: cover
}
.play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    background-color: #fff;
}
.play a{
    font-size: 16px;
    color: #1A1A1A
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.button{
    height: 55px;
    width: 193px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDEDED;
    margin-top: 90px
}
.button a{
    color:  #F6F6F6;
    text-decoration: none;
    font-size: 18px;
    font-family: Oswald-Light;
    color: #FF5858
}
.button i{
    font-size: 14px;
    padding-left: 10px
}
.list{
    display: flex;
    margin-top: 10px
}
.list h3{
    margin-bottom: 0;
    margin-top: 6px;
    font-family: BigShoulders-Regular;
}
.list span {
    font-size: 20px;
    font-family: Oswald-Light;
    opacity: 60%;
    padding-left: 10px;
    padding-top: 4px;
}
.content{
    font-size: 22px;
    font-family: Oswald-Light;
    margin-top: 60px;
    padding-left: 25px;
    padding-right: 25px
}
.slider-images{
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.course_boxes{
    position: relative;
}
/* .lent-back{
    background-image: url(../img/custom-lent.png);
    height: 100px;
    width: 100%;
    z-index: 99999999999999999;
    position: absolute;
    top: 43px;
    margin-left: 14px;
    height: 100%;
    background-repeat: no-repeat;
    width: 162px;
    opacity: 100%;
}
.dark-shadow{
    background-image: url(../img/Rectangle\ 19.png);
    transform: rotate(180deg);
    position: absolute;
    background-repeat: no-repeat;
    bottom: -2px;
    opacity: 100%;
    right: 0px;
    height: 100%;
    width: 100%;
} */
/* 
body {
    overflow-x: hidden;
    background: #fed5c8;
  }
  
  .list {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
  
  .list li {
    list-style-type: none;
    
    width: 200px;
    height: 200px;
    opacity: .25;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    border-radius: 2px;
    background: #9C89B8;
    transition: transform 1s, opacity 1s;
  }
  
  .list .act {
    opacity: 1;
  }
  
  .list .prev,
  .list .next {
    cursor: pointer;
  }
  
  .list .prev {
    transform: translateX(-220px) scale(.85);
  }
  
  .list .next {
    transform: translateX(220px) scale(.85);
  }
  
  .list .hide {
    transform: translateX(-420px) scale(.85);
  }
  
  .list .new-next {
    transform: translateX(420px) scale(.85);
  }
  
  .list .hide,
  .list .new-next {
    opacity: 0;
    transition: opacity .5s, transform .5s;
  } */
  .splide__slide img{
      width: 400px !important;
  }
  .splide__list li{
    width: 1000px;
}
.splide__slide img{
    height: 100%;
    width: 100% !important;
}
.splide--draggable>.splide__track>.splide__list>.splide__slide{
    padding-left: 35px !important;
    overflow: hidden;
}
.splide__slide{
    position: relative;
}
.victims-layer{
    position: absolute;
    top: 0;
    left: 34px;
    z-index: 1;
}
/* .is-active .victims-layer{
    display: none;
} */


.splide__slide .victims-layer{
    display: block;
}

.splide__slide.is-active .victims-layer{
    display: none;
}
.splide__pagination{
    margin-top: 10px;
}
.splide__pagination{
    top: 100%;
}
.splide__arrow--next {
    display: none;
 }
 .splide__arrow--prev {
     display: none;
 }